<phpunit bootstrap="vendor/autoload.php">
    <php>
        <includePath>.</includePath>
        <ini name="date.timezone" value="Europe/Berlin"/>
    </php>
    <logging>
        <log type="coverage-html" target="phpunit/report"/>
        <log type="coverage-clover" target="phpunit/logs/clover.xml"/>
        <log type="json" target="phpunit/logs/coveralls-upload.json"/>
    </logging>
    <filter>
        <whitelist>
            <directory suffix=".php">lib</directory>
            <exclude>
                <directory suffix=".php">vendor</directory>
            </exclude>
        </whitelist>
    </filter>
    <testsuites>
        <testsuite name="tests">
            <file>phpunit/tests/CacheTest.php</file>
            <file>phpunit/tests/PatternTest.php</file>
            <file>phpunit/tests/FinderTest.php</file>
            <file>phpunit/tests/ParserTest.php</file>
            <file>phpunit/tests/RouterunnerTest.php</file>
        </testsuite>
    </testsuites>
</phpunit>